<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>发布宝贝</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/custom-styles.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
  </head>
  <body>
    <% include header.ejs%>
    <section>
        <%include left_colum.ejs%>
        <div class="right_board">
          <header>
            <h1>
              发布我的宝贝-捐
            </h1>
          </header>
          <section>
              <div class="container">
                <div class="add_product_details">
                  <form  enctype="multipart/form-data" method="post" class="form-good-submit">
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="">
                          <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">宝贝类别</span>
                            <input type="text" class="form-control" id = "user-goods-sort" placeholder="请输入宝贝的类比，如手机" aria-describedby="basic-addon1">
                          </div>
                          <span class="error-msg">不能为空</span>
                          <br>
                          <div class="input-group">
                            <span class="input-group-addon" id="basic-addon2">宝贝名称</span>
                            <input type="text" class="form-control" id = "user-goods-name" placeholder="请输入宝贝的名称，如苹果6" aria-describedby="basic-addon2">
                          </div>
                          <span class="error-msg">不能为空</span>
                          <br>
                          <div class="input-group" style="display: none;">
                            <span class="input-group-addon" id="basic-tel">交易类型</span>
                            <input type="text" class="form-control" id = "user-selectway"  aria-describedby="basic-tel" value="donate" disabled>
                          </div>
                          
                          <div class="form-group">
                            <div id="uploadForm"  method="post" enctype="multipart/form-data">
                              <div class="upload_box">
                                  <div class="upload_main">
                                    <div class="upload_choose">
                                      <input id="fileImage" type="file" size="30" name="fileselect" multiple />
                                      <span id="fileDragArea" class="upload_drag_area">请选择四张图片或者将图片拖到此处</span>
                                    </div>
                                    <div id="preview" class="upload_preview"></div>
                                  </div>
                                  <span class="error-img-file">请选择四张不同的图片</span>
                                  <div class="upload_submit">
                                    <button type="button" id="fileSubmit" class="upload_submit_btn">确认上传图片</button>
                                  </div>
                                  <div id="uploadInf" class="upload_inf"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <div class="input-group">
                            <span class="input-group-addon" id="basic-username">姓名</span>
                            <input type="text" class="form-control" id = "user-name" placeholder="您的姓名，方便我们称呼您" aria-describedby="basic-username">
                          </div>
                          <span class="error-msg">不能为空</span>
                          <br>
                          <div class="input-group">
                            <span class="input-group-addon" id="basic-tel">电话</span>
                            <input type="text" class="form-control" id = "user-phone" placeholder="您的电话，方便我们联系您" aria-describedby="basic-tel">
                          </div>
                          <span class="error-msg">不能为空</span>
                          <span class="error-msg-formate">请输入正确的号码</span>
                          <br>
                          
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="form-group">
                            <label for="message-text" class="control-label">补充:</label>
                            <textarea class="form-control" id="user-goods-addText"></textarea>
                          </div>
                          <br>
                          <button type="submit" class="btn btn-default" id ="donateGoods-submit">Submit</button>

                      </div>
                    </div>
                  </form>
                </div>
              </div>
          </section>
          <hr>          
          <h4 class="text-center">你将要发布的东西，会在主页以及相关页面如下所示：</h4>
          <hr>
          <section>
            <div class="container-fluid">
              <div class="row">
                <div class="left_product_img col-lg-7 col-md-7 col-sm-12 col-xs-12">
                  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                      <div class="item active sec-goods-img-default">
                        <div class="sec-goods-img-">
                          
                        </div>
                        <div class="carousel-caption">
                        </div>
                      </div>
                      <div class="item sec-goods-img-default">
                        <div class="sec-goods-img-">
                          
                        </div>
                        <div class="carousel-caption">
                        </div>
                      </div>
                      <div class="item sec-goods-img-default">
                        <div class="sec-goods-img-">
                          
                        </div>
                        <div class="carousel-caption">
                        </div>
                      </div>
                      <div class="item sec-goods-img-default">
                        <div class="sec-goods-img-">
                          
                        </div>
                        <div class="carousel-caption">
                        </div>
                      </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
                <div class="right_product_details col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <div class="">
                    <ul>
                      <li>
                        <span class="right_board_categories">类别：</span>
                        <span class="right_board_categories_sort">{}</span>
                      </li>
                      <li>
                        <span class="right_board_categories">名称：</span>
                        <span class="right_board_categories_name">小米5</span>
                      </li>
                      <li>
                        <span class="right_board_categories">换向：</span>
                        <span class="right_board_categories_target">iPad</span>
                      </li>
                      <li>
                        <span class="right_board_categories">原价(¥)：</span>
                        <span class="right_board_categories_price">2499</span>
                      </li>
                      <li>
                        <span class="right_board_categories">用时：</span>
                        <span class="right_board_categories_usetime">6个月</span>
                      </li>
                      <li>
                        <span class="right_board_categories">联系人：</span>
                        <span class="right_board_categories_people"></span>
                      </li>
                      <li>
                        <span class="right_board_categories">联系电话：</span>
                        <span class="right_board_categories_tel">18516217735</span>
                      </li>
                      <li>
                        <span class="right_board_categories">详细补充：</span> <br>
                        <span class="product_details_addText right_board_categories_name">
                            我这个小米5是去年刚出来的时候买的，当时是2499元，
                            我没有怎么用，几乎是全新的。手机周边也没有明显
                            摔伤的痕迹。所以我想换一个iPad的或者是高于2000块的安卓pad,
                            最好也是跟我手机是一样的使用程度。
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <footer class="copy_right">
              <p>Copyright © 2017.Adou All rights reserved.</p>
          </footer>
        </div>
    </section>

    <script type="text/javascript" src="/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script src="/js/h5upload.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/custom-styles.js">
      //前端验证先放置
    </script>

  </body>
</html>
