<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<style>
	    body {
	    	background: #f2dede;
	    } 
		nav {
			background-color: #d9edf7 !important;
			height: 6em;
		}
		#user {
			font-weight: 16px;
			font-weight: bold;
			display: inline-block;
		}
		section {
			margin-top: 6em;
		}
		.contents_show {
			background-color: 
		}
		.chatcontents li {
			line-height: 2em;
			border-radius: 3px;
		}
		.chatcontents li:nth-child(even){
			background-color: #bce8f1;
		}
		.chatcontents li:nth-child(odd){
			background-color: #dff0d8;
		}

		
	</style>
</head>
<body>
	<header >
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		 	<div class="container">
			 	<div class="text-center">
			 		<h2>欢迎进入501</h2>
			 	</div>	
			 	<span>当前主人：</span><span id="user"><%=username%></span>	 		
		    </div>
		</nav>
	</header>
	<section class="container">
		<div class="col-md-6 co-xs-12 col-sm-12 contents_show">
			<h3>这里显示：</h3>
			<div class="">
				<ul class="chatcontents">
					
				</ul>
			</div>
		</div>
		<div class="col-md-6 co-xs-12 col-sm-12 user_input">
			<h3>这里输入：</h3>
			<div>
			    <div class="input-group">
			        <input type="text" class="form-control" id="contents">
			        <span class="input-group-btn">
			          <button class="btn btn-default" type="button" id="submit">Go!</button>
			        </span>
			    </div>
			</div>
		</div>
	</section>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/js/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<script>
		var socket = io();
		$("#contents").keydown(function(e){
			if(e.keyCode == 13){
				//传输文本内容
				socket.emit("chats",{
					"contents" : $("#contents").val(),
					"user": $("#user").html()
				});
				$(this).val("");
			}
		})
		$("#submit").click(function(e){
			//传输文本内容
			socket.emit("chats",{
				"contents" : $("#contents").val(),
				"user": $("#user").html()
			});
			$(this).val("");

		});
		socket.on("chats",function (msg) {
			//console.log(msg);// object{contents:..,user:...}
			$(".chatcontents").prepend("<li><b>"+msg.user+":</b>"+msg.contents+"</li>")
		})

		var window_width = $(window).width();
		console.log(window_width)
		if(window_width<678) {
			$(".user_input")
			.addClass("navbar-fixed-bottom")
			.css({
				"width":"100%",
				"margin-bottom":"3em",
				"padding-left":"2em"
			})
			.children("h3")
			.css({"display":"none"});
		}
	</script>
</body>
</html>