  <!DOCTYPE html>
<html lang="en">
<head>
    <title>修改头像</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/jquery.Jcrop.css">
    <script src="/js/jquery-1.10.2.js"></script>
    <script src="/js/jquery.Jcrop.js"></script>
    <script type="text/javascript" src="/js/xiaoguo.js"></script>
    <style>
        #target {
            min-width: 200px;
        }
    </style>
</head>
<body>
    <h2>剪裁头像</h2>
    <img src="/avatar/<%=avatar%>" id="target" alt="[Jcrop Example]"/>
    <div id="preview-pane">
        <div class="preview-container">
            <img src="/avatar/<%=avatar%>" class="jcrop-preview" alt="Preview"/>
        </div>
    </div>
    <hr>
    <input type="button" value="剪裁上传" id="btn">


<script type="text/javascript">
    $("input").click(function () {
        var w = parseInt($(".jcrop-holder>div:first").css("width"));
        var h = parseInt($(".jcrop-holder>div:first").css("height"));
        var x = parseInt($(".jcrop-holder>div:first").css("left"));
        var y = parseInt($(".jcrop-holder>div:first").css("top"));

        $.get("/docut",{
            "w" : w,
            "h" : h,
            "x" : x,
            "y" : y
        },function(result){
            if(result == "1"){
                alert("修改成功");
                window.location = "/";
            }
        });
    });
</script>
</body>
</html>
