<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style type="text/css">
		body {
			background-color: #faebcc
		}
       
		.container {
			width: 80%;
			margin: 100px auto;
			background: #d6e9c6;
		}
		.container form {
			width: 100%;
			height: 50px;
			text-align: center;
			border-radius: 3px;
			border:1px solid #222;
			padding: 20px 0;
			vertical-align: middle;
		}
		input {
			width: 200px;
			height: 3em;
		}
		
	</style>
</head>
<body>
	<div class="container">
		<form action="/check" method="get">
			输入昵称：
			<input type="text" id="username" name="username">
			<input type="submit" value="进入501">
		</form>
	</div>
</body>
</html>