<div class="left_colum">
  <nav class="navbar-side">
    <div class="sidebar-collapse">
      <ul class="left_colum_nav">
        <li >
            <a href="/exchangelistMsg?page=0">
                <i class="glyphicon glyphicon-resize-horizontal"></i>
                <span>换(以物换物)</span>
            </a>
        </li>
        <li >
            <a href="/salelistMsg?page=0">
                <i class="glyphicon glyphicon-jpy"></i>
                <span>卖(闲置物-卖)</span>
            </a>
        </li>
        <li >
            <a href="/sendlistMsg?page=0">
                <i class="glyphicon glyphicon-export"></i>
                <span>送(顺水人情)</span>
            </a>
        </li>
        <li >
            <a href="/donatelistMsg?page=0" >
                <i class="glyphicon glyphicon-heart-empty"></i>
                <span>捐(用不上-捐)</span>
            </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
