<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>设置头像</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/css/custom-styles.css">
	<link rel="stylesheet" href="/css/font-awesome.css">
	<link rel="stylesheet" href="/css/fileinput.css">
	<style>
		#error_cue {
			display: none;
			margin-top: 10px;
		}
		.xiugai_img {
			padding-top: 100px;
		}
		.form-control {
		    width: 100%;
		    height: 34px;
		    padding: 6px 12px;
		    font-size: 14px;
		    line-height: 1.42857143;
		    color: #555;
		    background-color: rgba(255,255,255,0) !important;
		    background-image: none!important;
		    border: none!important;
		    border-radius: 4px;
		    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
		    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
		    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
		    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		}
		.right_board{
			min-height: 700px;
		}
	</style>
</head>
<body>
	<% include header.ejs %>
	<section >
		<%include left_colum.ejs%>
		<div  class="right_board">
			<div class="container">
			    <h2 class="xiugai_img">【更改头像】</h2>
			    <div class="col-md-6 col-sm-12 col-xs-12">
			    	<form action="doSetavatar" enctype="multipart/form-data" method="post">
						<div class="form-group">
						    <input type="file" class="form-control" id="touxiang" name="touxiang">
						</div>
						<button type="submit" class="btn btn-default" id="submit_touxiang">上传</button>
					</form>
			    </div>
			    <div class="col-md-6 col-sm-12 col-xs-12">
			    	<img src="/img/add_default.png" alt="" class="img img-responsive">
			    </div>
			</div>
		</div>
	</section>
	<script src="/js/jquery-1.10.2.js"></script>
	<script src="/js/bootstrap.min.js"></script>

</body>
</html>
