/*这里使用rem用法*/

html,body {
  font-size: 10px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
ul,li,dd,dl,dt,h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0px;
}
li {
  list-style: none;
}
.navbar {
  margin-bottom: 0;
}
.navbar-brand .strong {
  font-size: 1.6rem;
}

.top-navbar .navbar-brand {
    color: #fff;
    width: 20rem;
    text-align: left;
    height: 65px;
    font-size: 2.4rem;
    font-weight: 700;
     text-transform: uppercase;
    line-height: 3rem;
    background: #30cc7b;
}
.left_colum {
    background: #2c445a;
    position: fixed;
    height: 100%;
    margin-top: 60px;
}
#sideNav {
    float: left;
    left: 0;
    z-index: 3;
    color: #868686;
    cursor: pointer;
    border-radius: 0;
    width: 14px;
    font-size: 2.2rem;
    line-height: 3rem;
    margin: 7px 0 0 13px;
    background: #ececec;
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    line-height: 3.5rem;
    margin-top: 0.9rem;
    border-radius: 50%;
    display: none;
}

header li.dropdown>a.dropdown-toggle {
  line-height: 30px;
}

header li.dropdown {
  width: 6rem;
  font-size: 2rem
}

.left_colum_nav li {
  border-bottom:  1px solid rgba(255, 255, 255, 0.47);;
}
.left_colum_nav li>a {
  padding: 2rem;
  font-size: 1.8rem;
  display: block;
  color: #ddd;
  opacity: 0.5;
  line-height: 5rem;
}
.left_colum_nav li>a.active {
  opacity: 1;
}
.left_colum_nav li>a:hover{
    text-decoration: none;
}
.left_colum_nav li>a>span {
  margin-left: 1.5rem;
}

/*右边显示区域*/
.right_board {
  margin-left: 20rem;
  background: #ececec;
  height: 100%;
  overflow: auto;
  padding-top: 60px;
}
.right_board h1,
.right_board .h1{
  padding: 2rem ;
}

/*面包屑导航*/
.right_board header ol {
  box-shadow: 0 2px 2px rgba(0,0,0,.05);
}
.right_board header ol li a {
  color: #666;
  opacity: 0.8;
}
.right_board header ol li.active a {
  opacity: 1;
  color: #333;
}

/*具体展示product*/
.left_product_img {
  margin-top: 2rem;
  height: 500px;
  border-right:1px solid rgba(255,255,255,0.5);
  float: left;
}
.right_product_details {
  margin-top: 2rem;
  margin-left: 2rem;
  float: left;
  margin-top: 50px;
}

.right_product_details li span.right_board_categories,
.right_product_details li span.right_board_categories_name{
  display: inline-block;
  font-size: 1.4rem;
}
.right_product_details .product_details_addText.right_board_categories_name {
  display: block;
  max-width: 500px;
  min-height: 100px;
}
.right_product_details li span.right_board_categories {
  width:  7rem;
  text-align: right;
}
.product_details_addText {
  display: inline-block;
  text-indent: 2rem;
  max-width: 400px;
  margin-left: 1rem;
  border: 1px solid #ddd;
  padding: 0.5rem;
}

/*限制图片的最低规格*/
.carousel-inner .item img {
  height: 400px;
  min-width: 670px;
}

/*修改轮播的图   js 控制显示的大图和小图路径一致*/
.carousel-indicators li {
    display: inline-block;
    width: 3rem;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    border-radius: 10px;
    height: 100%;
    background-size: cover;
    background-position: center center;
    padding: 5px;
    background-color: #ddd;
}


.carousel-indicators li.active {
  width: 3rem;
  height: 3rem;
  margin: 0;
  background-color: #fff;
  background-image: url(../img/index_img.jpg);
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ddd;
}


/*分页条*/
.copy_right ,.deliver-page{
  overflow: hidden;
  font-size: 1.4rem;
}
.deliver-page nav {
  margin-top: 3rem;
  margin-right: 10rem;
  font-size: 1.6rem;
}
.copy_right  {
  margin-left: 2rem;
}


/*用户信息的css*/
header li.dropdown.userMessages {
  width: 6em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /*没有出现...*/
}
#userimg {
  height: 1.5em;
  width: 1.5em;
  border-radius: 5px;
}

li .header-regist,.header-login{
  margin-top: 1rem;
}

.validate_username,.validate_userpwd {
  color: red;
}
  /*奇怪的模态框 背景 半透明的颜色z-index的数值太大*/
.modal-backdrop {
  z-index: 140;
}


.navbar-right {
  margin-right: 1em;
}
#username {
  display: inline-block;
  width: 6em;
  font-size: 1.4rem;
  text-overflow: ellipsis;
}
#login_error_cue,#error_cue {
  margin-top: 10px;
}

@media(min-width:768px) {
    .navbar-side {
        width: 20rem;
        z-index: 1;
    }

   .navbar {
     border-radius: 0px;
   }

}
 @media(max-width:768px) {
	#sideNav{
	display:none;
}

}

  /*添加商品页面的css*/

.text-area {
  width: 206%;
}
.text-area  textarea.form-control {
  height: 130px;
}
.add_product_details {
  overflow: hidden;
}
/*上传图片*/

.sec-goods-img-default {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
  background-image: url(/img/down_img.jpg);
}
.sec-goods-img- {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}


.upload_box {
  width:1000px;
  margin:1em auto;
}
.upload_main {
  border-width:1px 1px 2px;
  border-style:solid;
  border-color:#ccc #ccc #ddd;
  background-color:#fbfbfb;
}
.upload_choose {
  padding:1em;
}
.upload_drag_area {
  display:inline-block;
  width:60%;
  padding:4em 0;
  margin-left:.5em;
  border:1px dashed #ddd;
  background:#fff url() no-repeat 20px center;
  color:#999;
  text-align:center;
  vertical-align:middle;
}
.upload_drag_hover {
  border-color:#069;
  box-shadow:inset 2px 2px 4px rgba(0,0,0,.5);
  color:#333;
}
.upload_preview {
  border-top:1px solid #bbb;
  border-bottom:1px solid #bbb;
  background-color:#fff;
  overflow:hidden;
  _zoom:1;
}
.upload_append_list {
  height:300px;
  padding:0 1em;
  float:left;
  position:relative;
}
.upload_delete {
  margin-left:2em;
}
.upload_image {
  max-height:250px;
  padding:5px;
}
.upload_submit {
  padding-top:1em;
  padding-left:1em;
}
.upload_submit_btn {
  display:none;
  height:32px;
  font-size:14px;
}
.upload_loading {
  height:250px;
  background:url() no-repeat center;
}
.upload_progress {
  display:none;
  padding:5px;
  border-radius:10px;
  color:#fff;
  background-color:rgba(0,0,0,.6);
  position:absolute;
  left:25px;
  top:45px;
}


/*图表页面的数据展示*/
section>h4 {
  margin-left: 3rem;
}

/*表单验证*/
.error-msg,.error-msg-formate {
  position: absolute;
  right: 6%;
  color: red;
  display: none;
}

.error-msg.error-fadeIn,.error-msg-formate.error-fadeIn{
  display: block;
}

input.error-border {
  border-color: red;
}
.error-img-file {
  color: red;
  display: none;
}

.pagination li a.active {
  background-color: #337ab7;
  color: #fff;
}


/*个人中心*/
.saleList h3,.exchangeList h3,.sendList h3 ,.donateList h3{
  margin-left: 30px;
}
.right_board .h5 {
  margin-top: 50px;
}

.row.disabled {
  opacity: .5;
}

.exchangeList .fa,
.donateList .fa,
.sendList .fa,
.saleList .fa{
  position: relative;
  font-size: 140px;
  top: -320px;
  left: 50%;
  color: red;
}


